.leftPanel {
    -fx-background-color: #333333;
}

.rightPanel {
    -fx-background-color: #111111;
}

.listView {
    -fx-border-radius: 4px;
}

.button {
    -fx-background-radius: 4px;
    -fx-font: "Segoe UI";
    -fx-font-size: 12px;
    -fx-font-weight: Medium;
    -fx-background-color:  #333333;
    -fx-transition: all 0.3s;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.3), 5, 0, 0, 1);
}

.button:hover {
    -fx-background-color: #555555;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.3), 5, 0, 0, 1);
    -fx-text-fill: #ffffff;
}

.input {
    -fx-min-width: 100px;
    -fx-min-height: 24px;
    -fx-font: "Segoe UI";
    -fx-background-color: #222222;
    -fx-background-radius: 4px;
    -fx-border-color: #333333;
    -fx-border-radius: 4px;
}
