.leftPanel {
    -fx-background-color: #5bc3f0;
}
.rightPanel {
    -fx-background-color: #174694;
}

.loginTitle{
    -fx-font: "Segoe UI";
    -fx-font-weight: Bold;
    -fx-font-size: 36px;
    -fx-text-fill: white;
}

.input {
    -fx-min-width: 100px;
    -fx-min-height: 24px;
    -fx-font: "Segoe UI";
    -fx-background-color: white;
    -fx-background-radius: 4px;
    -fx-border-color: #5bc3f0;
    -fx-border-radius: 4px;
}

.button {
    -fx-background-radius: 4px;
    -fx-background-color:  #5BC3F0;
    -fx-transition: all 0.3s;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 1);
}

.button:hover {
    -fx-background-color: #3999D1; /* Lighter blue on hover */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 1);
    -fx-text-fill: #ffffff; /* White */
}