.leftPanel {
    -fx-background-color: #363636;
}

.rightPanel {
    -fx-background-color: #1c1c1c;
}

.loginTitle {
    -fx-font: "Segoe UI";
    -fx-font-weight: bold;
    -fx-font-size: 36px;
    -fx-text-fill: #ffffff; /* White */
}

.input {
    -fx-min-width: 100px;
    -fx-min-height: 24px;
    -fx-font: "Segoe UI";
    -fx-background-color: #1c1c1c; /* Dark gray */
    -fx-background-radius: 4px;
    -fx-border-color: #5bc3f0;
    -fx-border-radius: 4px;
    -fx-text-fill: #ffffff; /* White */
}

.button {
    -fx-background-radius: 4px;
    -fx-background-color: #5bc3f0;
    -fx-transition: all 0.3s;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 1);
}

.button:hover {
    -fx-background-color: #3999d1; /* Lighter blue on hover */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 1);
    -fx-text-fill: #ffffff; /* White */
}
